.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 52px);
}

.loginContainer {
    border-radius: 5px;
    display: flex;
}

@media screen and (max-width:786px) {
    .loginContainer {
        flex-direction: column;
    }
}

.loginImage {
    flex: 1;
    background: url('https://img.freepik.com/free-vector/tablet-login-concept-illustration_114360-7963.jpg?w=740&t=st=1659729577~exp=1659730177~hmac=f443716a02111d3ea18506fb3c0671498a23190667ac7e261f1a44fbbfffef69');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.loginContent {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.loginContent form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    align-items: center;
}

.loginContent form input {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    font-size: 15px;
}

.formBtn {
    margin-top: 20px;
    font-size: 15px;
    border-radius: 30px;
    padding: 5px 30px;
    background-color: transparent;
    border: 2px solid #0062D1;
    transition: all 0.25s ease-in-out;
}

.formBtn:hover {
    cursor: pointer;
    background-color: #0062D1;
    color: white;
}